fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.4
pydantic-settings==2.7.1
PyYAML==6.0.2
soundfile==0.12.1
requests==2.32.3
faster-whisper==1.1.1
openai==1.59.6
gigaam @ git+https://github.com/salute-developers/GigaAM.git@main
